<h1>Samples#show</h1>


<h2>binding</h2>
<div id="name_app">
  <label for="name">Name:</label>
  <input id="name" type="text" v-model="name" /> <!--v-model is doing the magic here-->
  <p>{{ name }}</p>
</div>

<h2>lazy binding</h2>
<div id="name_lazy_app">
  <label for="name">Name:</label>
  <input id="name" type="text" v-model.lazy="name" /> <!--v-model is doing the magic here-->
  <p>{{ name }}</p>
</div>

<h2>toggle color</h2>
<div id="toggle_app">
  <button @click="active = !active" :aria-pressed="active ? 'true' : 'false'">Toggle me</button>
  <p :class="{ red: active }">Sometimes I need to be styled differently</p>
</div>

<h2>toggle panel</h2>
<div id="toggle_panel_app">
  <button @click="show = !show" :aria-expanded="show ? 'true' : 'false'">
    Toggle Panel
  </button>
  <p v-if="show">hello</p>
</div>

<h2>toggle with v-show</h2>
<!-- v-showを使うと宣言的になってtoggleの場合は非常によい -->
<div id="toggle_with_v_show">
  <label for="textarea">What is your favorite kind of taco?</label>
  <br>
  <textarea id="textarea" v-model="tacos"></textarea>
  <br>
  <button v-show="tacos">Let us know!</button>
</div>

<h2>form</h2>
<div id="form_app">
  <form @submit.prevent="submitForm">
    <div>
      <label for="name">Name:</label><br>
      <input id="name" type="text" v-model="name" required/>
    </div>
    <div>
      <label for="email">Email:</label><br>
      <input id="email" type="email" v-model="email" required/>
    </div>
    <div>
      <label for="caps">HOW DO I TURN OFF CAPS LOCK:</label><br>
      <textarea id="caps" v-model="caps" required></textarea>
    </div>
    <button :class="[name ? activeClass : '']" type="submit">Submit</button>
    <div>
      <h3>Response from server:</h3>
      <pre>{{ response }}</pre>
    </div>
  </form>
</div>