<h1>Checkbox</h1>

<div id="checkboxes_app" v-model="">
  <input id="checkbox1" v-on:click.prevent="checkbox1_clicked" type="checkbox" v-bind:checked="checkbox1" v-bind:disabled="ch1_disabled">
  <label for="checkbox1">{{ checkbox1 }}</label>

  <input id="checkbox2" type="checkbox" v-on:click.prevent="checkbox2_clicked" v-model="checkbox2">
  <label for="checkbox2">{{ checkbox2 }}</label>

  <input id="checkbox3" type="checkbox" v-on:click.prevent="checkbox3_clicked" v-model="checkbox3">
  <label for="checkbox3">{{ checkbox3 }}</label>
</div>
