<h1>Pages#welcome</h1>

<div id="hello" data-vue="hello">
  {{ message }}
</div>

<ul>
  <ii><%= link_to 'samples', samples_show_path %></ii>
  <ii><%= link_to 'components', components_show_path %></ii>
  <ii><%= link_to 'checkboxes', checkboxes_show_path %></ii>
  <ii><%= link_to 'ajax', samples_ajax_path %></ii>
</ul>
