<h1>Pages#welcome</h1>

<div id="hello" data-vue="hello">
  {{ message }}
</div>


<%= link_to 'samples', samples_show_path %>
<%= link_to 'components', components_show_path %>
<%= link_to 'checkboxes', checkboxes_show_path %>
